@import "../../../variables.scss";

.plants-wrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 12px;
  width: $app-width;
  margin: 40px auto 0 auto;

  @media (1025px <= width) {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  @media (768px <= width <= 1024px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

button {
  background-color: $blue-dark;
  border-radius: 5px;
  color: white;
  margin: 40px auto;
  width: auto;
  display: block;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
  padding: 12px;

  &:hover {
    background-color: $blue-light;
  }
}
